
line{
	stroke: rgba(255, 255, 255, 0.15);
	cursor: none;
}
#chart {
	position: absolute;
    background-color: transparent;
    margin: auto;
    border-radius: 5px 5px 0 0;
    top: 0;
    left: 0;
    right: 0;
}
.chart-title {
	font-size:	2rem;
	fill: #ddd;
	font-variant: small-caps;
	@media (max-height: 400px) {
		& {
			font-size:	1rem;
		}
	}
}
.tick {
	stroke: #eaeaea;
    font-size: .7rem;
    font-variant: all-small-caps;
    letter-spacing: 1px;
    text-shadow: 1px -1px 1px #333;
}
.x-axis-label {
    stroke: #59ff00;
    text-shadow: 1px -1px 1px #000000;
}
.domain {
	stroke: #bbb;
}
.stock {
	cursor: none;
}
.stock-caption {
    text-shadow: 1px -1px 1px #fff, 1px -1px 1px #000;
}
.gridline {
	fill: #333;
    fill: rgba(0,0,0,0.7);
	cursor: none;
}
.tooltip {
	opacity: 1;
	position: absolute;
	pointer-events: none;
	border: 1px solid #999;
	padding: 10px;
	min-width: 8.8rem;
    border-radius: 10px;
    background-color: #212121;
	font-size: .7rem;
	font-variant: small-caps;
	pointer-events: none;
	transition: top, left 0.1s;
	&__header {
		padding-bottom: .2rem;
		color: #fff;
		text-align: center;
	}
	&__list {
		font-size: .8rem;
		list-style: none;
		min-width: 80%;
		padding-left: .2rem;
		margin: 0.1rem;
		&__item:before {
			content: "• ";
			color: inherit;
			margin-right: .3rem;
		}
	}
	& span.heavy {
		font-weight: 700;
		color: inherit;
	}
	& span.normal {
		float: right;
		color: #fff;
	}
}
.tooltipLine {
	stroke: #d9efd9;
	fill: none;
	stroke-linejoin:round;
	stroke-linecap:round;
	stroke-width: 1;
}
.point-shadows {
	opacity: .6;
}
.cross-points {
	stroke: silver;
	stroke-width: .5;
}
.svglink {
	text-decoration: underline;
	transform: translateX(-5%);
	&:hover {
		cursor: pointer;
	}
}
.zoom {
	z-index: 20;
	cursor: none;
	fill: none;
	pointer-events: all;
	/*
	cursor: move;
	cursor: grab;
	*/
}
.zoom:active {
	// cursor: grabbing;
}
