.chart {
    background-color: transparent;
}
.chart-container {
    color: #999;
    position: absolute;
    background-color: transparent;
    width: 83%;
    height: 97%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 1%;
	box-shadow: 0px 0px 55px #000000;
	border-radius: 15px;
    z-index: -1;
}
.cards {
	position: absolute;
    bottom: 2%;
    width: 80%;
    height: 40vh;
	margin-left: 10%;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row-reverse;
	text-align: center;
	overflow: auto;
	background-color: transparent;
	border-radius: 0 0 5px 5px;
	&__hero {
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		position: fixed;
		z-index: -1;
		width: 100%;
		height: 100%;
	}
	&__container {
		margin: 1%;
		width: 23%;
		min-width: 320px;
		max-height: 150px;
		font-weight: 300;
		text-align: left;
		letter-spacing: .5px;
		border: .5px solid #3e0a0a;
		background-color: #333;
		background-color: rgba(0,0,0,0.7);
		border-radius: 5px;
		box-shadow: 0px 0px 25px #fb18ff;
		&[data="positive"] {
			box-shadow: 0px 0px 25px #09f924;
		}
		&:first-child {
			background-color: #3c3c3c;
			box-shadow: 0px 0px 1px #28ce3c;
		}
		&:first-child &__head {
			margin-bottom: 2%;
		}
		&__close {
			float: right;
			color: #fff;
			background-color: #fb7f7f;
			border: .5px outset #999;
			border-radius: 3px;
			padding: 0 1% .8% 1%;
			font-weight: 700;
			margin: 1%;
			text-align: center;
			line-height: 1.3rem;
			font-size: 1.3rem;
			text-shadow: -0.2px -0.5px 5px #676464;
			cursor: pointer;
			&:hover {
				background-color: #e94c4c;
			}
			&:active {
				border: .5px inset #999;
			}
		}
		&__head {
			width: 85%;
			margin: 7% 0 5% 5%;
			&:first-child &__header {
				font-size: 1rem;
				color: #09f924;
			}
			&__header {
				display: inline-block;
				color: #111;
				font-weight: 700;
				font-size: 1.5rem;
				padding: .3rem .8rem .3rem 0;
				margin: 0;
				text-shadow: -0.2px -0.5px 5px #000;
				&[data="negative"] {
					color: #fb7f7f;
				}
				&[data="positive"] {
					color: #09f924;
				}
			}
			&__trend {
				float: right;
				font-size: 1rem;
				font-weight: 700;
				margin-top: .3rem;
			   	padding: .3rem .8rem;
				border-radius: 5px;
				cursor: help;
				text-shadow: 0.2px 0.5px 2px #040404;
				& .span {
					color: #949494;
				}
				&[data="negative"] {
					color:#eee;
					background-color: #fb7f7f;
				}
				&[data="positive"] {
					color: #eeeeff;
					background-color: #09f924;
				}
			}
			&__value {
				float: right;
				font-size: 1rem;
				font-weight: 700;
				padding: .6rem .8rem;
				color: #bbb;
				cursor: help;
			}
		}
		&__inputs {
			width: 17.8rem;
			padding: 0 0 10% 5%;
			&__text {
				width: 70%;
			}
			&__button {
				width: 30%;
				color: #e8d5e8;
				background-color: #09f924;
				font-weight: 700;
				text-shadow: 0px 0px 1px #d60000, 0px 0px 1px #43442e, 1px -1px 2px #5bb95e;
			}
		}
		&__description {
			width: 90%;
			padding: 0 0 10% 5%;
			color: #aaa;
			& span {
				font-weight: 700;
				color:#fff;
			}
		}
		&__error {
			color: red;
			margin-left: 5%;
			font-weight: 700;
			text-shadow: 0.2px 0.8px 2px #ffdc78;
			font-variant: small-caps;
			letter-spacing: 1px;
		}
	}
}
