
line{
	stroke: rgba(101, 101, 101, 0.9);
}
#chart {
	position: absolute;
    background-color: transparent;
	margin-left: 12.5%;
	border-radius: 5px 5px 0 0;
}
.chart-title {
	font-size:	2rem;
	fill: #ddd;
	font-variant: small-caps;
}
.tick {
	stroke: #eaeaea;
    font-size: .7rem;
    font-variant: all-small-caps;
    letter-spacing: 1px;
    text-shadow: 1px -1px 1px #333;
}
.x-axis-label {
    stroke: #59ff00;
    text-shadow: 1px -1px 1px #000000;
}
.domain {
	stroke: #bbb;
}
.stock-caption {
    text-shadow: 1px -1px 1px #fff, 1px -1px 1px #000;
}
.gridline {
	fill: #333;
    fill: rgba(0,0,0,0.7);
}