
line{
	stroke: rgba(101, 101, 101, 0.9);
}
#chart {
	position: absolute;
    background-color: transparent;
	margin-left: 7%;
    border-radius: 5px 5px 0 0;
}
.chart-title {
	font-size:	2rem;
	fill: #ddd;
	font-variant: small-caps;
}
.x-axis-label, .y-axis-label {
	stroke: #fff;
    font-size: 1rem;
}
.domain, .tick {
	stroke: #bbb;
}
.text-caption {
    text-shadow: 1px -1px 1px #fff, 1px -1px 1px #000;
}
.gridline {
	fill: #333;
    fill: rgba(0,0,0,0.7);
}