$grey: #999;

*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
	font-family: "Helvetica Neue", Calibri, sans-serif;
	color: #999;
	background-color: #074380;
	background: url("/assets/images/pexels-photo-260920.jpeg") no-repeat center center fixed;
    background-size: cover;
}
.test {
    color: $grey;
    transition: all 1.5s;
}
@import "../shared/_normalize.scss";
@import "../shared/_mixins.scss";
@import "./_chart.scss";
@import "./_chart_form.scss";
@import "../shared/_footer.scss";